@import url(http://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500);

* { font-family: "Exo 2", sans-serif; }

html, body { height: 100%; }

body {
	margin: 0;
	color: #222;
	font: 1em Arial;
	letter-spacing: .05em;
	> header {
		background: #1A1A1A url(../img/blahblah.gif) center no-repeat;
		background-size: auto 100%;
		background-position: left;
		height: 100%;
		width: 100%;
		.background {
			background: rgba(208, 76, 76, .85);
			height: 100%;
		}
		.vertical-align {
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translate(0, -50%);
		}
		h1, p {
			color: rgb(255, 255, 255);
			float: left;
			line-height: 1em;
			text-align: center;
			width: 100%;
		}
		h1 {
			font: 700 normal 5em "Exo 2", sans-serif;
			margin: 50px 0 0;
			min-height: 114px;
			span {
				position: relative;
				top: 0.6em;
				font-size: .6em;
				vertical-align: top;
			}
		}
		.center-box {
			position: absolute;
			bottom: 0;
			background: whitesmoke;
			width: 100%;
			max-width: 100%;
			font-weight: 100;
		}
		a {
			text-decoration: none;
			padding: 15px 35px;
			font-size: 25px;
			display: inline-block;
			color: rgb(208, 76, 76);
			position: relative;
			cursor: pointer;
			transition: .5s;
		}
		label {
			display: block;
			width: 50px;
			height: 50px;
			background: red;
		}
		select {
			display: none;
			width: 100%;
			height: 100%;
			font-size: 25px;
			text-align: center;
			background: whitesmoke;
			option {
				text-align: center;
			}
		}
	}
}

.center-box {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	text-align: center;
	color: #222;
	font: 100 normal 1em "Exo 2", sans-serif;
	p {
		text-align: left;
	}
}

.topic-box {
	padding: 150px 0 0 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #222;
	font: 100 normal 1rem "Exo 2", sans-serif;
	p {
		font: 300 normal 15px "Exo 2", sans-serif;
		text-align: left;
	}
}

h2 {
	display: block;
	width: 100%;
	max-width: 800px;
	font: 200 normal 2em "Exo 2", sans-serif;
	color: white;
	margin: 0 auto;
	padding-top: 250px;
	padding-bottom: 150px;
	text-align: center;
}

h3 {
	margin: 0;
	padding-bottom: 150px;
	font: 200 normal 3em "Exo 2", sans-serif;
	> a {
		display: inline-block;
		background: #EEE;
		padding: 5px 10px;
		margin-top: 30px;
		font: 300 normal .35em "Exo 2", sans-serif;
		border-radius: 5px;
		overflow: hidden;
		cursor: pointer;
	}
	&.end {
		display: block;
	}
}

input {
	display: block;
	border: none;
	font: 100 normal 20px "Exo 2", sans-serif;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #222;
	background: white;
	font-size: 1.6em;
	padding: 5px 15px;
	&:focus {
		outline: none;
	}
}

button {
	position: relative;
	top: 33px;
	width: 150px;
	height: 50px;
	background: rgb(208, 76, 76);
	border: none;
	color: white;
	margin: 10px;
	font: 100 normal 20px "Exo 2", sans-serif;
	cursor: pointer;
	:focus {
		outline: none;
	}
}

.box-background {
	background: #222;
}

.example {
	background: #444;
	text-align: left;
	width: 100%;
	border-left: none;
	border-right: none;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border-radius: 0px;
	border-top: 10px solid #444;
	border-bottom: 10px solid #272822;
	margin-bottom: 25px;
	pre, .result {
		float: left;
		display: block;
		width: 33.332%;
		height: 294px;
		overflow-x: auto;
		overflow-y: hidden;
		color: white;
		margin: 0;
		background: #272822;
		text-align: center;
	}
	pre {
		margin: 0;
		* {
			font: 12px 'Source Code Pro', courier;
		}
		.lang {
			display: block;
			font: 100 normal 20px "Exo 2", sans-serif;
			padding: 10px;
			background: #444;
		}
		code {
			text-align: left;
			display: block;
			height: 250px;
			background: #272822;
			box-sizing: border-box;
			padding: 0 15px;
		}
	}
	.result {
		background: white;
		color: #222;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 50px;
		border-left: 5px;
		font-size: 25px;
		input {
			display: block;
			width: 80%;
			margin: 0 auto;
			font-size: 20px;
			margin-bottom: 50px;
		}
	}
	.highlight {
		background: #1A1A1A;
		padding: 0 1px 2px 4px;
		margin-left: -3px;
		border-radius: 5px;
	}
}

@media screen and (max-width:800px) {
	body > header h1, body > header p {
		line-height: 1em;
		text-align: center;
		width: 100%;
	}

	body > header h1 {
		font: 700 normal 3.5em "Exo 2", sans-serif; 
		margin: 50px 0 0;
		min-height: 114px;
	}

	body > header h1 span {
		top: 0.6em;
		font-size: .6em;
		vertical-align: top;
	}

	body > header a {
		float: left;
		padding: 15px 0;
		font-size: 25px;
		margin: 0;
		width: 50%;
		width: 100%;
	}

	body > header .desktop {
		display: none;
	}

	body > header select {
		display: block;
	}

	h2 {
		font: 200 normal 1.3em "Exo 2", sans-serif;
		padding-top: 230px;
		padding-bottom: 100px;
	}

	.topic-box {
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}

	.example {
		border: none;
	}

	.example pre, .example .result {
		width: 100%;
		height: auto;
	}

	.example pre code {
		height: auto;
	}

}